@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@300;400;500;600&family=Nunito+Sans:wght@200;300;400;600;700;800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@300;400;500;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,200;1,300&family=Nunito+Sans:wght@200;300;400;600;700;800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
body {
  background: rgb(209, 203, 203);
}
.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 6.5rem;
  background-color: white;
  z-index: 100000;
}
.nav img {
  width: 18rem;
  padding-left: 0;
}
#menu-btn {
  width: 30px;
  height: 30px;
  display: none;
  cursor: pointer;
}
#menu-close {
  display: none;
  cursor: pointer;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 13px;
}

ul li {
  list-style: none;
  padding: 50px;
}

ul li a {
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  color: rgb(80, 84, 205);
}
ul li a:hover,
ul .icon i:hover {
  color: black;
}

.contactus .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.contactus {
  position: absolute;
  top: 18%;
  transition: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.contactus .title {
  background: url(images/Mask-Group-1@2x.png);
  width: 100%;
  padding: 10px;
}
.contactus .title h2 {
  font-size: 40px;
  color: whitesmoke;
  text-transform: uppercase;
  font-family: sans-serif;
}
.form {
  grid-area: form;
}
.info {
  grid-area: info;
}
.map {
  grid-area: map;
}
.contact {
  padding: 40px;
  background: #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}
.box{
  position: absolute;
  top: 25%;
  left: 10%;
  width: 80%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: 
  "form info"
  "form map";
  grid-gap: 20px;
  margin-top: 20px;
}
.contact h3 {
  color: lightsteelblue;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}
/* form */
.formbox {
  position: relative;
  width: 100%;
}
.formbox .row50 {
  display: flex;
  gap: 30px;
}
.inputbox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}
.formbox .row100 .inputbox {
  width: 100%;
}
.inputbox span {
  color: rgb(80, 84, 205);
}
.inputbox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
}
.inputbox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}
.inputbox input[type="submit"]
{
  background: #ff578b;
  color: #fff;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
}
/* Info */
.info {
  background: #0e3959;
}
.info h3
{
  color: #fff;
}
.info .infobox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.info .infobox div span {
  min-width: 40px;
  height: 40px;
  color: whitesmoke;
  background: rgb(80, 84, 205);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}
.info .infobox div p {
  color: whitesmoke;
  font-size: 1.1em;
}
.info .infobox div a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.1em;
}
.sci {
  margin-top: 20px;
  display: flex;
}
.sci li {
  list-style: none;
  margin-right: 15px;
  font-size: 1.5em;
}
.sci li a {
  color: whitesmoke;
}
.sci li a :hover{
  color: grey;
}
.map {
  padding: 0;
}
.map iframe {
  width: 100%;
  height: 100%;
}
/**Responsive design **/
@media (max-width: 991px)
{
  body {
    background:  rgb(209, 203, 203);
  }
  .contactus {
    padding: 20px;
  }
  .box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "form"
      "info"
      "map";
  }
  .map {
    min-height: 300px;
  }
  .formbox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .inputbox {
    width: 100%;
  }
  .contact {
    padding: 30px;
  }
}

@media (max-width: 952px)
{
  .nav {
    padding: 15px 20px;
  }
  .nav img {
    width: 14rem;
  }
  #menu-btn {
    display: initial;
  }
  #menu-close {
    display: initial;
    font-size: 1.6rem;
    color: #fff;
    padding: 30px 0 20px 20px;
  }
  .nav ul {
    position: absolute;
    top: 0;
    right: -220px;
    width: 220px;
    height: 100vh;
    background-color:rgb(17, 20, 104, 0.45);
    backdrop-filter: blur(4.5px);
    border: 1px solid rgb(255, 255, 255 0.18);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.3s ease;
  }
  .nav ul.active {
    right: 0;
  }
  .nav ul li {
    padding: 20px 0 20px 40px;
    margin-left: 0;
  }
  .nav ul li a {
    color: #fff;
  }
  .nav ul li a:hover {
    padding: 7px 13px ;
    border-radius: 3px;
    background-color: cornflowerblue;
    transition: 0.3s ease;
  }
  

}